
// set your custom colors here
$siteBgColorCustom: #282828;
$sidebarBgColorCustom: #282828;
$textColorCustom: #ebdbb2;
$sidebarTextColorCustom: #ebdbb2;

$headlineColorCustom: #689d6a;
$headingColorCustom: #ebdbb2;

$bodyLinkColorCustom: #98971a;
$navLinkColorCustom: #98971a;
$sidebarLinkColorCustom: #98971a;

$footerTextColorCustom: #98971a;

$buttonTextColorCustom: #ebdbb2;
$buttonHoverTextColorCustom: #b8bb26;
$buttonBgColorCustom: #b8bb26;
$buttonHoverBgColorCustom: #b8bb26;
$borderColorCustom: #282828;
